@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 !important;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus {
  box-shadow: none;
}
